/* Hero */
.defaultHero,
.housesHero {
  min-height: 100vh;
  background: url("/static/images/landing_house-min.jpg") center/cover no-repeat;
}
.housesHero {
  background-image: url("/static/images/landing_houseERROR-min.jpg");
}

/* End of Hero */
