/* Hero */
.defaultHero,
.housesHero {
  min-height: 100vh;
  background: url("/images/landing-background.webp") center/cover no-repeat;
}
.housesHero {
  background-image: url("/images/error-background.webp");
}

/* End of Hero */
