/* Hero */
.defaultHero,
.housesHero {
  min-height: 100vh;
  background: url("/static/images/landing-background.jpg") center/cover no-repeat;
}
.housesHero {
  background-image: url("/static/images/error-background.jpg");
}

/* End of Hero */
