.dark-bg-solid {
  min-height: calc(100vh - 66px);
  position: relative;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: var(--mainBlack);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dark-bg-solid h3 {
  color: var(--mainWhite);
  margin-bottom: 0.5em;
  /* margin-bottom: 2rem;
  margin-top: 2rem; */
}
