.ui.menu.navbar,
.ui.segment.navbar,
.ui.left.sidebar {
  font-size: 1.1rem;
  background: var(--offWhite) !important;
  border-radius: 0;
  margin: 0;
}

.ui.menu.navbar .item,
.ui.segment.navbar .item,
.ui.left.sidebar .item {
  color: var(--mainWhite) !important;
  font-weight: 500;
}

.ui.menu.navbar .item:hover,
.ui.segment.navbar .item:hover,
.ui.left.sidebar .item:hover {
  color: var(--primaryColor) !important;
}

.ui.segment.navbar {
  padding: 0.1em;
  width: 100%;
}
